language: python

addons:
  apt:
    packages:
      - python3-numpy
      - libsdl-image1.2-dev
      - libsdl-mixer1.2-dev
      - libsdl-ttf2.0-dev
      - libsmpeg-dev
      - libsdl1.2-dev
      - libportmidi-dev
      - libswscale-dev
      - libavformat-dev
      - libavcodec-dev
      - libfreetype6-dev

matrix:
  include:
    - os: linux
      dist: xenial
    - os: osx
      osx_image: xcode11

stages:
  - compile
  - test
  # - deploy
  # if: branch = master

script:
  - find . | grep -E "\.py$" | xargs python -m compileall

jobs:
  include:
    # Compile all files.
    - stage: compile
      python: 3.6
    - stage: compile
      python: 3.7       # 3.6 stable/release
    - stage: compile
      python: 3.7-dev   # 3.7 development branch
    - stage: compile
      python: 3.8-dev   # 3.8 development branch

    # Run tests
    - stage: test
      python: 3.7
      name: "pep8 conformance"
      install:
        - pip install pycodestyle
      script:
        - pycodestyle src  --ignore=E501

cache: pip
