dist: xenial
language: python
addons:
  apt:
    packages:

stages:
  - lint
  - test

install:
  # Install required libraries.
  - pip install -r requirements.txt

jobs:
  include:
    # Compile all files.
    - stage: lint
      script:
        - find . | grep -E "\.py$" | xargs python -m compileall
      python: 3.6
    - stage: lint
      script:
        - find . | grep -E "\.py$" | xargs python -m compileall
      python: 3.7       # 3.6 stable/release
    - stage: lint
      script:
        - find . | grep -E "\.py$" | xargs python -m compileall
      python: 3.7-dev   # 3.7 development branch

    - stage: test
      script:
        - python -m unittest discover -s tests
      python: 3.6

cache: pip
